{% extends 'base.html' %}

{% block 'title' %}Home{% endblock %}

{% block 'main' %}
{% if user.is_authenticated %}
<h1 >Welcome, {{ user.first_name }}. Thank you for visiting.</h1>
<div class="card mb-3" style="background-color: #bbdece">
  <div lass="clearfix">
    <img src="/static/images/welcome.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Company logo" style="width: 80%;">
  </div> 
{% else %}
  <div class="card mb-3" style="background-color: #bbdece">
    <div lass="clearfix">
      <img src="/static/images/welcome.png" class="col-md-6 float-md-end mb-3 ms-md-3" alt="Company logo" style="width: 100%;">
    </div> 
    <div class="clearfix">
      <img src="/static/images/flag.png"  class="col-md-6 float-md-end mb-3 ms-md-3" alt="Brazilian Flag" style="width: 100%;">
    </div>
    <div class="clearfix">
      <img src="/static/images/linguistic.png"  class="col-md-6 float-md-end mb-3 ms-md-3" alt="Linguistic written with a book, pen and glasses" style="width: 100%;">
    </div>
    <div class="clearfix">
      <img src="/static/images/empower.png"  class="col-md-6 float-md-end mb-3 ms-md-3" alt="Teacher walking holding a big book" style="width: 100%;">
    </div>
    <div class="clearfix">
      <img src="/static/images/engagement.png"  class="col-md-6 float-md-end mb-3 ms-md-3" alt="Linguistic written with a book, pen and glasses" style="width: 100%;">
    </div>
  </div>
{% endif %}
{% endblock %}