{% extends 'base.html' %}

{% block 'title' %}User Registery{% endblock %}

{% block 'main' %}
<div class="container">
    <form>
        <div>
            <div class="row">
                <label for="txtUser" class="form-label">User:</label>
            </div>
            <div class="row col-12 d-flex">
                <div class="col-10">
                    <input type="text" class="form-control" id="txtUser" aria-describedby="User" placeholder="Enter User">
                </div>
                <div class="col-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>
    <div class="mt-2 col-10">
        <div>
            <div class="alert alert-warning">Information not found!</div>
        </div>
    </div>
</div>
{% endblock %}

