{% extends 'base.html' %}

{% block 'title' %}Recover Password{% endblock %}

{% block 'main' %}
<div class="container">
    <form method="post" action="{% url 'valida' %}">
      {% csrf_token %}
      <div class="mb-3">
        <label for="txtEmail" class="form-label">Email:<span class="required">*</span></label>
        <input type="email" name="email" class="form-control" id="txtEmail" aria-describedby="Email" required>
      </div>
      <div class="mb-3">
        <label for="txtEmail" class="form-label">Confirm Email:<span class="required">*</span></label>
        <input type="email" name="confirm_email" class="form-control" id="txtConfirmEmail" aria-describedby="Email" required>
    </div>
        <div class="mb3">
          <button type="submit" class="btn btn-primary">Send</button>
          <button type="reset" class="btn btn-warning">Cancel</button>
        </div>
    </form>
</div>
{% endblock %}
