{% extends 'base.html' %}

{% block 'title' %}Reset Password{% endblock %}

{% block 'main' %}
<div class="card" style="width: 18rem;">
 <div class="card-body">
    <h2>Reset Password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mt-3 col-6">
            <label for="txtEmail">Email:</label>
            <input type="email" name="email" id="txtEmail" required>
        </div>
        <div>
            <button type="submit" class="col2 btn btn-primary">Reset</button>
        </div>
    </form>
  </div>
</div>
{% endblock %}
