{% extends 'base.html' %}

{% block 'title' %}Login{% endblock %}

{% block 'main' %}
<div class="container">
    <form method="post">
      {% csrf_token %}
        <div class="mb-3">
          <label for="txtUserName" class="form-label">User Name</label>
          <input type="text" name="username" class="form-control" id="txtUserName" required>
        </div>
        <div class="mb-3">
          <label for="txtPassword" class="form-label">Password</label>
          <input type="password" name="password" class="form-control" id="txtPassword" required>
          {% if form.errors %}
          <ul class="errorlist">
              {% for field, errors in form.errors.items %}
                  {% for error in errors %}
                      <li style="color: red; font-weight: bold;">{{ error }}</li>
                  {% endfor %}
              {% endfor %}
          </ul>
        {% endif %}
        </div>
        <div class="mb3">
          <button type="submit" class="btn btn-primary">Login</button>
          <button type="reset" class="btn btn-warning">Cancel</button>
        </div>
        <div class="mb3">
          <a href="{% url 'register' %}" class="text-primary text-decoration-none">Create User</a>
        </div>
    </form>
</div>
{% endblock %}
