body{
  background-color: #bbdece;
}

.aboutitem{
  display: flex;
  height: 500px;
  background-color: #bbdece;
}

.leftitem{
  height: 100%;
  margin: 5px;
}

.rightitem{
  width: 70%;
  height: 100%;
  margin: 5px;
}

.text-grey{
  color: #495551;
}

.contenttitle{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.title{
  font-size: 5em;
}

.images-index{
  width: 700px;
  height: 500px;
  border-radius: 20px;
}

.item-title{
   font-size: 3em;
}

.text-white{
  color: #fff8f5;
}

.item-description{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
}

footer{
  width: 100%;
  height: 5dvh;
  font-size: 1.5em;
  display: flex;
  text-align: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
}

.register-btn{
  margin-top: 20px;
  margin-bottom: 40px;
}

/* For screens smaller than 768px (e.g., mobile phones) */
@media (max-width: 767.98px) {
  .aboutitem {
    flex-direction: column;
    height: auto; 
  }

  .leftitem {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .list-position{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin: 0 auto; 
    width: 80%; 
    width: 100%;
    max-width: 80%;
  }
  

  .images-index {
    width: 90%;
    height: auto;
  }

  .rightitem {
    width: 100%;
    text-align: center;
  }

  .item-title {
    font-size: 1.5em;
  }

  .item-description {
    font-size: 1em;
    text-align: center; 
  }

  .title {
    font-size: 2.5em;
  }

  .final-item{
    margin-bottom: 50px;
  }

  .btn-custom {
    margin-top: 20px;
    margin-bottom: 40px;
}

  }
  
  /* For screens larger than 768px (e.g., tablets, laptops, desktops) */
  @media (min-width: 768px) and (max-width: 1540px) {
    body{
      background-color: #bbdece;
    }

    .aboutitem {
      flex-direction: row;
      height: auto;
    }
  
    .leftitem {
      width: 100%;
      margin: 10px;
    }

    .list-position{
      display: flex; 
      flex-direction: column;
      align-items: center; 
      text-align: center; 
      margin: 0 auto; 
      width: 100%;
      max-width: 80%;
    }
  
    .images-index {
      width: 100%;
      height: auto;
    }
  
    .rightitem {
      width: 60%;
      margin: 10px;
      text-align: left;
    }
  
    .item-title {
      font-size: 2.5em;
    }
  
    .item-description {
      font-size: 1.2em;
    }
  
    .title {
      font-size: 3.5em;
    }

    .final-item{
      margin-bottom: 30px;
    }
  }