{% extends 'base.html' %}

{% block 'title' %}User Registery{% endblock %}

{% block 'main' %}
<div class="container col-6">
    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        <p>
            <label for="id_username">Username:</label>
            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus
                class="form-control" required id="id_username">
    
            <span class="helptext">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</span>
        </p>
        <p>
            <label for="id_email">Email address:</label>
            <input type="email" name="email" maxlength="254" class="form-control" id="id_email">
        </p>
        <p>
            <label for="id_first_name">First name:</label>
            <input type="text" name="first_name" maxlength="150" class="form-control" id="id_first_name">
        </p>
        <p>
            <label for="id_last_name">Last name:</label>
            <input type="text" name="last_name" maxlength="150" class="form-control" id="id_last_name">
        </p>
        <p>
            <label for="id_password1">Password:</label>
            <input type="password" name="password1" autocomplete="new-password" class="form-control" required
                id="id_password1">
            <span class="helptext">
                <ul>
                    <li>Your password can’t be too similar to your other personal information.</li>
                    <li>Your password must contain at least 8 characters.</li>
                    <li>Your password can’t be a commonly used password.</li>
                    <li>Your password can’t be entirely numeric.</li>
                </ul>
            </span>
        </p>
        <p>
            <label for="id_password2">Password confirmation:</label>
            <input type="password" name="password2" autocomplete="new-password" class="form-control" required
                id="id_password2">
            <span class="helptext">Enter the same password as before, for verification.</span>
        </p>
        <p>
            <input type="checkbox" name="is_staff" id="ckb_is_staff"><label for="ckb_is_staff"> Access to Admin Page </label>
        </p>
        <p>
            <input type="checkbox" name="is_active" id="ckb_is_active"><label for="ckb_is_active"> Active </label>
        </p>
        <p>
            <input type="checkbox" name="is_superuser" id="ckb_is_superuser"><label for="ckb_is_superuser">Super User</label>
        </p>
        <button type="submit" class="btn btn-primary col-2">Submit</button>
        <button type="reset" class="btn btn-warning col-2">Reset</button>
    </form>
</div>
{% endblock %}