{% extends 'base.html' %}

{% block 'title' %}Class Registery{% endblock %}

{% block 'main' %}
<div class="container col-6">
    <form method="post" action="{% url 'delete-class' classes.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="txtClassName" class="form-label">Class Name: <span class="required">*</span></label>
            <input name="name" value="{{ classes.name }}" type="text" class="form-control" id="txtClassName" aria-describedby="ClassName" required disabled>
        </div>
        <div class="mb-3">
            <select name="level" class="form-select" aria-label="Default select example" required  disabled>
                <option value="" selected disabled>Select option folowing CEFR levels:</option>
                <option value="A1" {% if classes.level == "A1" %} selected {% endif %} >A1- Beginner/ Novice</option>
                <option value="A2" {%  if classes.level == "A2" %} selected {% endif %} >A2- Intermediate Low/ Intermediate Mid</option>
                <option value="B1" {% if classes.level == "B1" %} selected {% endif %} >B1- Intermidiate High</option>
                <option value="B2" {% if classes.level == "B2" %} selected {%  endif %} >B2- Advanced Low/ Mid/ High </option>
                <option value="C1" {% if classes.level == "C1" %} selected {% endif %} >C1- Superior</option>
                <option value="C2" {% if classes.level == "C2" %} selected {% endif %} >C2- Distinguished</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="txtClassDescription" class="form-label">Class Description:<span class="required">*</span></label>
            <textarea name="description" class="form-control" id="txtClassDescription" rows="5" aria-describedby="Class Description" required  disabled>{{ classes.description }}</textarea>
        </div>
        {% if user.username == classes.username %}
        <button type="submit" class="btn btn-danger">Delete</button>
        <a href="{% url 'query-class' %}"><input type="button" value="Cancel" class="btn btn-warning"></a>
        {% else %}
        <a href="{% url 'query-class' %}" class="btn btn-primary">Back</a>
        {% endif %}
    </form>
</div>
{% endblock %}
