{% extends 'base.html' %}

{% block 'title' %}Schedule Registery{% endblock %}

{% block 'main' %}
<div class="container col-6">
    <form method="post" action="{% url 'delete-schedule' schedule.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="txtDay" class="form-label" >Day of the Week: <span class="required">*</span></label>
            <select name="day_week" class="form-select" id="txtDay" required disabled>
                <option value="" selected disabled> Select day off the week</option>
                <option value="{{ schedule.monday}}" {% if schedule.day_week == 'monday' %} selected {% endif %}>Monday</option>
                <option value="{{ schedule.tuesday }}" >Tuesday</option>
                <option value="{{ schedule.wednesday }}" >Wednesday</option>
                <option value="{{ schedule.thursday }}" >Thursday</option>
                <option value="{{ schedule.friday }}" >Friday</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="txtStartTime" class="form-label">Start Time: <span class="required">*</span></label>
            <input name="start_time" value="{{ schedule.start_time }}" type="text" class="form-control" id="txtStartTime" aria-describedby="StartTime" required  disabled>
        </div>
        <div class="mb-3">
            <label for="txtEndTime" class="form-label">End Time: <span class="required">*</span></label>
            <input name="end_time" value="{{ schedule.end_time }}" type="time" class="form-control" id="txtEndTime" aria-describedby="EndTime" required  disabled>
        </div>
        <div class="mb-3">
            <label for="txtEndTime" class="form-label">Date: <span class="required">*</span></label>
            <input name="date" value="{{ schedule.date }}" type="date" class="form-control" id="txtEndTime" aria-describedby="Date" required disabled>
        </div>
        <div class="mb-3">
            <label for="txtClass" class="form-label">Associated Class: <span class="required">*</span></label>
            <input type="text" name="student" id="txtClass" value="{{classes.name}}" disabled class="form-control">
        </div>
        <button type="submit" class="btn btn-danger col-2">Delete</button>
        <a href="{% url 'query-schedule' %}"><input type="button" value="Cancel" class="btn btn-warning col-2"></a>
    </form>
</div>
{% endblock %}
