{% extends 'base.html' %}

{% block 'title' %}Classroom Registery{% endblock %}

{% block 'main' %}
<div class="container col-6">
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="txtClassroomName" class="form-label">Classroom Name: <span class="required">*</span></label>
            <input name="name" type="text" class="form-control" id="txtClassroomName" aria-describedby="ClassroomName" required value="{{ classroom.name }}">
        </div>
        <div class="mb-3">
            <label for="txtCapacity" class="form-label">Capacity: <span class="required">*</span></label>
            <input name="capacity" type="number" class="form-control" id="txtCapacity" aria-describedby="Capacity" required min="1" max="3" value="{{classroom.capacity}}">
            <small id="capacityHelp" class="form-text text-muted">Maximum 3 students per class.</small>
        </div>
        <div class="mb-3 form-check">
            <input name="is_online" type="checkbox" class="form-check-input" id="chkOnlineClass" {% if classroom.is_online %} checked {% endif %}>
            <label class="form-check-label" for="chkOnlineClass">Online Class</label>
        </div>
       <div class="mb-3">
            <label for="txtDescription" class="form-label">Description:</label><span class="required">*</span></label>
            <textarea name="description" class="form-control" id="txtDescription" rows="3" maxlength="255">{{ classroom.description }}</textarea>
        </div>
        <input type="hidden" name="username" value="{{classroom.username}}">
        {% if user.username == classroom.username %}
        <button type="submit" class="btn btn-success">Edit</button>
        <button type="reset" class="btn btn-warning text-white">Reset</button>
        {% else %}
        <a href="{% url 'query-classroom' %}" class="btn btn-primary">Back</a>
        {% endif %}
    </form>
</div>
{% endblock %}
