{% extends 'base.html' %}

{% block 'title' %}Student Registery{% endblock %}
{% block 'main' %}
<script>
    function teste(){
        console.log('teste')
    }
</script>
<div class="container col-6">
    <form method="post" action="{% url 'edit-student' student.id %}">
        {% csrf_token %}
        <div class="mb-3">
          <label for="txtName" class="form-label">Name: <span class="required">*</span></label>
          <input value="{{ student.name }}" name="name" type="text" class="form-control" id="txtName" aria-describedby="Name" required>
        </div>
        <div class="mb-3">
            <label for="txtSurname" class="form-label">Surname: <span class="required">*</span></label>
            <input value="{{ student.surname }}" name="surname" type="text" class="form-control" id="txtSurname" aria-describedby="Surname" required>
        </div>
        <div class="mb-3">
            <label for="txtEmail" class="form-label">Email:</label>
            <input value="{% if student.email != None %}{{ student.email }}{% endif %}" name="email" type="email" class="form-control" id="txtEmail" aria-describedby="Email">
        </div>
        <div class="row">
            <div class="mb-3 col-6" >
                <label for="txtPhone1" class="form-label">Phone Number 1: <span class="required">*</span></label>
                <input value="{{ student.phone1 }}" name="phone1" type="text" class="form-control" id="txtPhone1" aria-describedby="Phone Number 1" required onkeydown="numbers_only(this)" maxlength="12">
            </div>
            <div class="mb-3 col-6" >
                <label for="txtPhone2" class="form-label">Phone Number 2:</label>
                <input value="{% if student.phone2 != None %}{{ student.phone2 }}{% endif %}"  name="phone2" type="text" class="form-control" id="txtPhone2" aria-describedby="Phone Number 2" onkeydown="numbers_only(this)" maxlength="12">
            </div>
        </div>
        <div class="mb-3 form-check">
          <input onclick="control_under_age()" {% if student.under_age %} checked {% endif %} name="under_age" type="checkbox" class="form-check-input" id="txtUnderAge"  >
          <label class="form-check-label" for="txtUnderAge">Under age</label>
        </div>
        <div class="mb-3">
            <label for="txtParents" class="form-label">Parents/ Legal Guardian:</label>
            <select name="parents" id="txtParents" class="form-control" disabled >
                <option value="">Select his/her legal guardian</option>
                {% for parent in parents %}
                <option value="{{parent.id}}" {% if parent.id == student.parents.id %} selected {% endif %} >{{parent.name}}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-success">Edit</button>
        <button type="reset" class="btn btn-warning text-white">Reset</button>
      </form>
</div>
{% endblock %}
