{% extends 'base.html' %}

{% block 'title' %}Parents Registery{% endblock %}

{% block 'main' %}
<div class="container col-6">
    <form method="post" action="{% url 'edit-parents' parents.id %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="txtParentName" class="form-label">Parent Name: <span class="required">*</span></label>
            <input name="name" type="text" class="form-control" id="txtParentName" aria-describedby="ParentName" required>
        </div>
        <div class="mb-3">
            <label for="txtEmail" class="form-label">Email:</label>
            <input name="email" type="email" class="form-control" id="txtEmail" aria-describedby="Email">
        </div>
        <div class="mb-3">
            <label for="txtPhone" class="form-label">Phone Number: <span class="required">*</span></label>
            <input name="phone" type="text" class="form-control" id="txtPhone" aria-describedby="PhoneNumber" required>
        </div>
        <button type="submit" class="btn btn-success">Edit</button>
        <button type="reset" class="btn btn-warning text-white">Reset</button>
    </form>
</div>
{% endblock %}
