{% extends 'base.html' %}

{% block 'title' %}Parents Query{% endblock %}

{% block 'main' %}
<div class="container">
    <div class="mx-auto col-11 mt-5">
        <form action="{% url 'search-parents' %}">
            <div>
                <div>
                    <label for="txtParent" class="form-label">Parent/ Legal Guardian Name:</label>
                </div>
                <div class="row col-12 d-flex">
                    <div class="col-11">
                        <input name="search" type="text" class="form-control" id="txtParent" aria-describedby="Parent/ Legal Guardian Name" placeholder="Enter Parent/ Legal Guardian Name">
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if total_parents == 0 %} <!-- total resultante da pesquisa em search -->
    <div class="mx-auto mt-2 col-11">
        <div>
            <div class="alert alert-warning">Information not found!</div>
        </div>
    </div>
    {% endif %}
    {% if total == 0 %}
    <div class="mx-auto mt-2 col-11">
        <div>
            <div class="alert alert-warning">No information registered at this moment!</div>
        </div>
    </div>
    {% else %}
    {% if total > 0 %}
    <div class="mx-auto col-11 mt-5">
        <table class="table table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th colspan="2">List of Parents</th>
                </tr>
            </thead>
            <tbody>
                {% if parents %}
                {% for parents in page_obj %}
                <tr>
                    <td>{{ parent.name }}</td>
                    <td class="text-end">
                        <a href="{% url 'edit-parents' parents.id %}"><button class="btn btn-warning">Edit</button></a>
                        <a href="{% url 'delete-parents' parents.id %}"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    {% endif %}
    {% if total > 0 %}
    <div class="pagination d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}    
            <span class="current">
                {% if page_obj.has_next %}
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                {% else %}
                    Page 1 of 1
                {% endif %}
            </span>    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div> 
    {% endif %}   
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible mt-5 fade show">{{ message }}
                <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}