{% extends 'base.html' %}

{% block 'title' %}Teacher Query{% endblock %}

{% block 'main' %}
<div class="container query-container">
    <div class="mx-auto col-11 mt-5">
        <form action="{% url 'search-teacher' %}">
            <div>
                <div>
                    <label for="txtClassroomName" class="form-label">Teacher's Name:</label>
                </div>
                <div class="row col-12 d-flex">
                    <div class="col-11">
                        <input name="search" type="text" class="form-control" id="txtClassroomName" placeholder="Enter Teacher's First Name">
                    </div>
                    <div class="col-1">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    {% if total_teacher == 0 %}
    <div class="mx-auto mt-2 col-11">
        <div>
            <div class="alert alert-warning">Information not found!</div>
        </div>
    </div>
    {% endif %}
    {% if total == 0 %}
    <div class="mx-auto mt-2 col-11">
        <div>
            <div class="alert alert-warning">No information registered at this moment!</div>
        </div>
    </div>
    {% else %}
    {% if total > 0 %}
    <div class="mx-auto col-11 mt-5">
        <table class="table table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th colspan="2">List of Teachers</th>
                </tr>
            </thead>
            <tbody>
                {% if teachers%}
                {% for teacher in page_obj %}
                <tr>
                    <td>{{ teacher.name }} {{ teacher.surname }} - <small>phone: {{ teacher.phone1 }}</small></td>
                    <td class="text-end">
                        {% if user.username == teacher.username or user.is_superuser %}
                        <a href="{% url 'edit-teacher' teacher.id %}" class="btn btn-warning">Edit</a>
                        <a href="{% url 'delete-teacher' teacher.id %}" class="btn btn-danger">Delete</a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
    {% else %}
    <div class="mx-auto col-11 mt-5">
        <table class="table table-striped table-hover">
            {% if total_teacher > 0 %}
            <thead class="table-primary">
                <tr>
                    <th colspan="2">List of Teachers</th>
                </tr>
            </thead>
            <tbody>
                {% for teacher in teachers %}
                <tr>
                    <td>{{ teacher.name }}</td>
                    <td class="text-end">
                        {% if user.username == teacher.username or user.is_superuser %}
                        <a href="{% url 'edit-teacher' teacher.id %}"><button class="btn btn-warning">Edit</button></a>
                        <a href="{% url 'delete-teacher' teacher.id %}"><button class="btn btn-danger">Delete</button></a>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            {% endif %}
        </table>
    </div>
    {% endif %}   
    {% endif %}
    {% if total > 0 %}
    <div class="pagination d-flex justify-content-center">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">previous</a>
            {% endif %}
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}{% if request.GET.search %}&search={{ request.GET.search }}{% endif %}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible mt-5 fade show">{{ message }}
                <button class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}

