{% extends 'base.html' %}

{% block 'title' %}Teacher Registery{% endblock %}

{% block 'main' %}
<div class="container col-6">
    <form method="post" action="{% url 'register-teacher' %}">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}">
        <div class="mb-3">
            <label for="txtName" class="form-label">Name: <span class="required">*</span></label>
            <input name="name" type="text" class="form-control" id="txtName" aria-describedby="Name" pattern="(?=.*\S)[A-z\s]+" required>
            </div>
            <div class="mb-3">
                <label for="txtSurname" class="form-label">Surname: <span class="required">*</span></label>
                <input name="surname" type="text" class="form-control" id="txtSurname" aria-describedby="Surname" pattern="(?=.*\S)[A-z\s]+" required>
            </div>
            <div class="mb-3">
                <label for="txtEmail" class="form-label">Email:</label>
                <input name="email" type="email" class="form-control" id="txtEmail" aria-describedby="Email">
            </div>
            <div class="row">
                <div class="mb-3 col-6" >
                    <label for="txtPhone1" class="form-label">Phone Number 1: <span class="required">*</span></label>
                    <input name="phone1" type="text" class="form-control" id="txtPhone1" aria-describedby="Phone Number 1" required onkeydown="numbers_only(this)" maxlength="12" >
                </div>
                <div class="mb-3 col-6" >
                    <label for="txtPhone2" class="form-label">Phone Number 2:</label>
                    <input name="phone2" type="text" class="form-control" id="txtPhone2" aria-describedby="Phone Number 2" onkeydown="numbers_only(this)" maxlength="12">
                </div>
            </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-warning">Reset</button>
    </form>
</div>
{% endblock %}
