{% extends 'base.html' %}

{% block 'title' %}Class Registery{% endblock %}

{% block 'main' %}
<div class="container col-6">
    <form method="post" action="{% url 'register-class' %}">
        {% csrf_token %}
        <input type="hidden" name="username" value="{{ user.username }}">
        <div class="mb-3">
            <label for="txtClassName" class="form-label">Class Name: <span class="required">*</span></label>
            <input name="name" type="text" class="form-control" id="txtClassName" aria-describedby="ClassName" required>
        </div>
        <div class="mb-3">
            <select name="level" class="form-select" aria-label="Default select example" required>
                <option value="" selected disabled>Select option folowing CEFR levels:</option>
                <option value="A1">A1- Beginner/ Novice</option>
                <option value="A2">A2- Intermediate Low/ Intermediate Mid</option>
                <option value="B1">B1- Intermidiate High</option>
                <option value="B2">B2- Advanced Low/ Mid/ High </option>
                <option value="C1">C1- Superior</option>
                <option value="C2">C2- Distinguished</option>
            </select>
        </div>
        <div class="mb-3">
            <label for="txtClassDescription" class="form-label">Class Description:<span class="required">*</span></label>
            <textarea name="description" class="form-control" id="txtClassDescription" rows="5" aria-describedby="Class Description" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-warning">Reset</button>
    </form>
</div>
{% endblock %}
